<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>httpDirPath</param-name>
		<param-value>/var/www/html/ltsp</param-value>
	</context-param>
	<context-param>
		<param-name>generalImageDirPath</param-name>
		<param-value>/var/www/html/ltsp/image</param-value>
	</context-param>
	<context-param>
		<param-name>wimbootId</param-name>
		<param-value>0</param-value>
	</context-param>
	<context-param>
		<param-name>logDirPath</param-name>
		<param-value>/var/www/html/ltsp/log</param-value>
	</context-param>
	<context-param>
		<param-name>nfsDirPath</param-name>
		<param-value>/srv/ltsp/images</param-value>
	</context-param>
	<context-param>
		<param-name>menuDirPath</param-name>
		<param-value>/var/www/html/ltsp/menu</param-value>
	</context-param>
	<context-param>
		<param-name>apacheLogPath</param-name>
		<param-value>/var/log/apache2/pxeboot.log</param-value>
	</context-param>
	<filter>
		<filter-name>Remote Address Filter</filter-name>
		<filter-class>org.apache.catalina.filters.RemoteAddrFilter</filter-class>
		<init-param>
			<param-name>allow</param-name>
			<param-value>127\.\d+\.\d+\.\d+|::1|0:0:0:0:0:0:0:1</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Remote Address Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>